/* FONDO EXACTO */
ion-content {
  --background: linear-gradient(to bottom, #031c2c, #000000);
  color: #ffffff;
}

/* NAVBAR */

.site-header {
  padding: 20px 0;
}

.cyber-navbar {
  max-width: 1250px;
  margin: auto;
  padding: 18px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 50px;
  background: #020b1c;

  box-shadow:
    0 0 25px rgba(0,255,255,0.6),
    0 0 60px rgba(0,255,255,0.4);
}

.logo img {
  width: 50px;
  filter: drop-shadow(0 0 10px cyan);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: .3s;
}

.nav-links a:hover {
  color: #00ffff;
  text-shadow: 0 0 12px #00ffff;
}

.user-btn {
  padding: 8px 22px;
  border-radius: 30px;
  background: linear-gradient(90deg,#1e3a8a,#06b6d4);
  box-shadow: 0 0 20px #00ffff;
  font-size: 14px;
}

/* HERO */

.hero {
  text-align: center;
  margin-top: 40px;
}

.hero h1 {
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 300;
}

.hero h2 {
  margin-top: 15px;
  color: #ff4d4d;
}

.hero p {
  max-width: 750px;
  margin: 10px auto;
  color: #ff4d4d;
}

/* CARDS */

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 70px 40px;
}

.card {
  width: 250px;
  height: 330px;

  border-radius: 25px;
  background: rgba(0, 40, 50, 0.6);
  border: 2px solid #00ffff;

  box-shadow:
    0 0 30px #00ffff,
    0 0 70px rgba(0,255,255,0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.4s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 50px #00ffff,
    0 0 100px rgba(0,255,255,0.9);
}

.card img {
  width: 95px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 15px cyan);
}

.card h3 {
  font-size: 18px;
}

/* SCROLL */
ion-content::part(scroll) {
  overflow-y: auto;
}