ion-content {
  --background: linear-gradient(145deg, #141414, #000);
  color: white;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 2.2rem;
  color: #00f2ff;
}

.lab-container {
  padding: 20px;
  text-align: center;
}

ion-textarea {
  --background: #111;
  --color: white;
  border-radius: 15px;
  margin-bottom: 15px;
}

.resultado {
  margin-top: 30px;
  background: #ecebeb;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,255,255,0.3);
}

.metric {
  margin-bottom: 15px;
}

.bar {
  height: 10px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #00f2ff;
  transition: width 0.5s ease-in-out;
}

.site-header {
  width: 100%;
  background: linear-gradient(90deg, #020617, #0b1120);
  border-bottom: 1px solid rgba(0,255,255,.2);
}

/* NAVBAR */
.cyber-navbar {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(90deg, #020617, #020617);
  border-radius: 40px;

  box-shadow:
    0 0 10px rgba(0,255,255,.4),
    0 0 25px rgba(0,255,255,.25);
}

/* LOGO */
.logo {
  font-size: 28px;
  color: #ffffff;
  text-shadow: 0 0 10px #00ffff;
}

/* LINKS NAVBAR */
.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 20px;
  transition: .3s;
}

.nav-links a:hover {
  background: rgba(0,255,255,.12);
  color: #ffffff;
  box-shadow: 0 0 12px rgba(0,255,255,.8);
}

